#navbar{
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: row;
  font-family: 'Itim', cursive;
}

body{
	height: 100%;
}

.listItems{
	font-size: 25px;
	font-family: 'Itim', cursive;
}
.logo{
  margin-top: 10px;
  height: 30px;
  width: 30px;
  margin-right: 30px;
}

#navigations{
  background-color: rgb(244, 244, 244);
  height: 95vh;
  padding: 20px;
  font-family: 'Itim', cursive;
  margin-left: 0px;
}

#mainContent{
  /* background-color: rgb(245, 40, 26); */
  font-family: 'Itim', cursive;

  background-color: rgb(162, 255, 224);
  background-repeat: repeat;
  /* opacity: 0.75; */
  background-size: 100%;
 
  color: black;
  padding: 20px;
  
  border-radius: 10px;
  height: 95vh;
  margin-left: 0px;
}
#main-content-heading{
  margin-bottom: 50px;
}
#profilePicture{
  width: 50px;
  height: 50px;
  border-radius: 360px;
}

.profile-name-content{
  margin: 0px;
}

#profile-hr{
  margin-top: 5px;
}

#navigationPicture{
  width: 30px;
  height: 30px;
  border-radius: 360px;
}

.navigation-content-name{
  margin: 0px;
}

.navigation-content{
  margin-bottom: 10px;
}
.add-task-textbox{
  width: 40vw;
  font-family: 'Itim', cursive;
  color: black;

}
.image-button{
  height: 35px;
  border-radius: 360px;
}

.add-task-row{
  height: 100px;
}

.add-image-button{
  background-color: green;
  border-radius: 360px;
}

.delete-image-button{
  background-color: red;
  border-radius: 360px;
}

.btn-icon{
  margin-right: 50px;
}

.add-btn{
	padding: 0px;
}

.button{
	margin-top: 50px;
}

.listItems{
	margin-top: 50px;
}

.add-icon{
	
	color:black;
}


.done-icon{
	color: black;
}

.add-icon:hover{
	color: rgb(44, 248, 44);
}

.done-icon:hover{
	color: red;
}
